@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-add:before { content: "\f100"; }
.flaticon-002-error:before { content: "\f101"; }
.flaticon-003-transfer:before { content: "\f102"; }
.flaticon-004-back:before { content: "\f103"; }
.flaticon-005-security:before { content: "\f104"; }
.flaticon-006-checked:before { content: "\f105"; }
.flaticon-007-transfer:before { content: "\f106"; }
.flaticon-008-data-transfer:before { content: "\f107"; }
.flaticon-009-cloud:before { content: "\f108"; }
.flaticon-010-data-transfer:before { content: "\f109"; }
.flaticon-011-synchronize:before { content: "\f10a"; }
.flaticon-012-transfer:before { content: "\f10b"; }
.flaticon-013-transfer:before { content: "\f10c"; }
.flaticon-014-transfer:before { content: "\f10d"; }
.flaticon-015-cloud-storage:before { content: "\f10e"; }
.flaticon-016-transfer:before { content: "\f10f"; }
.flaticon-017-transfer:before { content: "\f110"; }
.flaticon-018-transfer:before { content: "\f111"; }
.flaticon-019-transfer:before { content: "\f112"; }
.flaticon-020-transfer:before { content: "\f113"; }
.flaticon-021-database:before { content: "\f114"; }
.flaticon-022-transfer:before { content: "\f115"; }
.flaticon-023-transfer:before { content: "\f116"; }
.flaticon-024-queue:before { content: "\f117"; }
.flaticon-025-energy:before { content: "\f118"; }
.flaticon-026-favorite:before { content: "\f119"; }
.flaticon-027-file-transfer:before { content: "\f11a"; }
.flaticon-028-ftp:before { content: "\f11b"; }
.flaticon-029-browser:before { content: "\f11c"; }
.flaticon-030-chat:before { content: "\f11d"; }
.flaticon-031-cloud:before { content: "\f11e"; }
.flaticon-032-ftp:before { content: "\f11f"; }
.flaticon-033-file:before { content: "\f120"; }
.flaticon-034-folder:before { content: "\f121"; }
.flaticon-035-ftp:before { content: "\f122"; }
.flaticon-036-lock:before { content: "\f123"; }
.flaticon-037-message:before { content: "\f124"; }
.flaticon-038-ftp:before { content: "\f125"; }
.flaticon-039-ftp:before { content: "\f126"; }
.flaticon-040-shield:before { content: "\f127"; }
.flaticon-041-ftp:before { content: "\f128"; }
.flaticon-042-business:before { content: "\f129"; }
.flaticon-043-ftp:before { content: "\f12a"; }
.flaticon-044-user:before { content: "\f12b"; }
.flaticon-045-smartwatch:before { content: "\f12c"; }
.flaticon-046-wireless:before { content: "\f12d"; }
.flaticon-047-info:before { content: "\f12e"; }
.flaticon-048-transfer:before { content: "\f12f"; }
.flaticon-049-previous:before { content: "\f130"; }
.flaticon-050-good-feedback:before { content: "\f131"; }
.flaticon-051-sync:before { content: "\f132"; }
.flaticon-052-locked:before { content: "\f133"; }
.flaticon-053-like:before { content: "\f134"; }
.flaticon-054-remove:before { content: "\f135"; }
.flaticon-055-transfer:before { content: "\f136"; }
.flaticon-056-transfer:before { content: "\f137"; }
.flaticon-057-secure:before { content: "\f138"; }
.flaticon-058-remove:before { content: "\f139"; }
.flaticon-059-next-button:before { content: "\f13a"; }
.flaticon-060-synchronization:before { content: "\f13b"; }
.flaticon-061-transfer:before { content: "\f13c"; }
.flaticon-062-data-transfer:before { content: "\f13d"; }
.flaticon-063-transfer:before { content: "\f13e"; }
.flaticon-064-data-transfer:before { content: "\f13f"; }
.flaticon-065-data-transfer:before { content: "\f140"; }
.flaticon-066-data-transfer:before { content: "\f141"; }
.flaticon-067-data-transfer:before { content: "\f142"; }